ion-avatar {
    width: 80px;
    height: 80px;
}

ion-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.character-bold {
    font-weight: bold;
    color: #47b16f;
}

h2 {
    color: #b6d89b;
}
